html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: white;
    color: #333;
    font-family: Helvetica, Calibri, Arial, sans-serif;
    font-size: 0.9em;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.gradient {
    background-image: linear-gradient(90deg, rgb(155, 38, 175) 34%, rgb(243, 66, 53) 100%);
}

section.keyline {
    width: 100%;
    height: 5px;
}

section.header {
    position: relative;
    background-image: url(img/hero.jpg);
    background-size: cover;
    height: 650px;
    max-height: 650px;
    line-height: 650px;
    text-align: center;
}

.header img#logo {
    position: absolute;
    top: 10%;
    left: 10%;
}

.header img#herotxt {
    vertical-align: middle;
    width: 75%;
    max-width: 1030px;
    min-width: 150px;
}

section.signin {
    text-align: center;
    padding: 3em;
}

section.signin img {
    max-width: 30%;
}

section.pitch {
    margin-bottom: 2em;
}

section.pitch div {
    max-width: calc(320px * 3 - 3em);
    margin: 3em auto;
}

section.pitch div img {
    margin: 1em;
    max-width: 29%;
}

section.footer {
    background-color: #dadfe3;
    padding: 1.2em 2em;
    overflow: hidden;
    box-shadow: inset 0px 4px 3px rgba(0, 0, 0, 0.1);
}

section.footer .left {
    color: #9da3a7;
    line-height: 2em;
    padding-top: 1.2em;
    vertical-align: baseline;
}

section.footer .right {
    float: right;
}

section.footer a, section.footer a:visited {
    color: #9da3a7;
    text-decoration: none;
}

section.footer a:hover {
    text-decoration: underline;
}

