html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Calibri, Arial, sans-serif;
    font-size: 0.9em;
}

*, *:before, *:after {
    box-sizing: inherit;
}

div.app {
    display: table;
    overflow: auto;
    height: calc(100% - 90px);
}

section#Main {
    display: table-cell;
    width: 41rem;
    min-width: 41rem;
    max-width: 41rem;
    vertical-align: top;
}

div.form {
    border-right: 3px solid lightgray;
    height: 100%;
    padding: 2rem;
}

.formsection {
    margin-bottom: 1.5rem;
    border-bottom: 2px solid lightGray;
    padding: 20px 0;
}

.formitem {
    margin: 10px 0;
    padding: 5px 0;
}

input, textarea {
    font: inherit;
    padding: 0.2rem 0.5rem;
    resize: none;
    margin-bottom: 0.4rem;
    width: 24rem;
    border: none;
    border-left: 2px solid lightGray;
    background: #f8f8f8;
    outline-color: #6639b6;
}

input:hover, textarea:hover {
    background: #ecf4ff;
}

input:focus, textarea:focus {
    resize: both;
}

textarea {
    height: auto;
    min-height: 7em;
}

.colorpicker {
    width: 50px;
    padding: 0;
    border: none;
    margin-right: 1em;
}

label {
    display: inline-block;
    width: 9rem;
    padding: 0.3em 0;
    font-size: 0.9em;
    vertical-align: top;
}

button {
    background-color: #6639b6;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 0.2rem;
}

button:hover {
    opacity: 0.9;
}

.x, .drag {
    float: right;
    padding: 0.1rem 0.4rem;
    background-color: transparent;
    font-size: 1.15em;
    color: #444;
    opacity: 0.5;
}

.drag {
    cursor: move;
}

.x:hover, .drag:hover {
    opacity: 1;
    color: #6639b6;
}

p {
    margin-top: 0;
}

.position input {
    font-weight: bold;
}

strong {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    color: #1E90FF;
    padding: 1rem 0;
    margin: 1rem 0;
    text-transform: uppercase;
}

a, a:visited {
    color: dodgerblue;
}

section#Display {
    display: table-cell;
    width: 100%;
}

.Resume {
    width: 90% !important;
    max-width: 55rem;
    margin: 0 auto;
}

section#Display div {
    width: 100%;
}

section section {
    display: table-cell;
    width: 100%;
    max-width: inherit;
}

aside {
    display: table-cell;
    width: 100%;
    min-width: 12rem;
    text-align: right;
    color: gray;
}

.bio h1 {
    margin-left: -0.2rem;
    font-size: 3em;
    font-weight: 300;
}

.bio p {
    margin: 1.5rem 0;
    color: gray;
}

.signature {
    border-top: 1px solid #ccc;
    padding: 1rem 0;
    margin: 1rem 0;
}

.signature div {
    float: left;
    display: block;
    width: auto !important;
    padding-right: 2em;
    opacity: 0.9;
}

.signature aside {
    float: right;
    width: auto !important;
    opacity: 0.8;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

h5 {
    font-weight: 600;
}

h4 {
    text-transform: uppercase;
    color: gray;
    font-size: 1.2em;
}

h3 {
    color: #333;
    font-size: 1.3em;
}

h2 {
    color: #D34052;
    font-size: 1.8em;
}

.position, .feature, .skill, .education {
    margin: 0 0 2rem 0;
}

.thinnie {
    width: 100%;
    height: 5px;
}

.gradient {
    background-image: linear-gradient(90deg, rgb(155, 38, 175) 34%, rgb(243, 66, 53) 100%);
}

img.instructions {
    display: block;
    margin: 2em auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

header {
    width: 100%;
    height: 60px;
    color: white;
    padding: 0 2rem;
    vertical-align: middle;
    line-height: 65px;
    background-image: linear-gradient(90deg, rgb(57, 17, 66) 34%, rgb(108, 33, 30) 100%) !important;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

header #profilePic {
    margin: -1.0rem 0;
    border-radius: 50%;
    width: 50px;
    min-width: 50px;
    height: 50px;
    visibility: hidden;
    margin-left: 2rem;
}

header .rightie {
    display: block;
    float: right;
}

header .rightie * {
    margin-left: 0.5rem;
}

header a, header a:visited {
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
}

header a:hover {
    text-decoration: underline;
}

@media print {
    body {
        width: 8.25in !important;
        font-size: .9em;
    }

    a, a:visited {
        text-decoration: none;
        color: inherit;
    }

    body section#Main, body button, body header, body img.instructions {
        display: none;
    }

    strong {
        page-break-before: always;
    }

    strong:first-of-type {
        page-break-before: avoid !important;
    }

}
